
body {
  padding: 10;
  margin: 10;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: #333;
}

h1 {
  
  width: 200px;  
  padding: 20px;
  margin-left: 255px;
  margin-bottom: 10px;
  font-size: 28px;
  color: #eee;
  background-color: #41cee5;

 
}

h2 {
  font-size: 24px;
  margin: 20px; 20px; 20px; 20px;
  color: #41cee5;
}

h3 {
  font-size: 12px;
  float: right;
  padding: 5px;
  color: white;
}

a {
  color: #d21034;
}



p{ padding: 20px;
}

hr {
margin: 20px; 20px; 20px; 20px
}
.container {
  position: relative;
}

#main-bio {
 
  background: white;
  position: absolute; 
  
  top: 15%;
  left: 20%;
  width: 400px;
  height: 300px;
  padding: 10px;
  
}

#connectWithMe {
 
  background: white;
  width: 300px;
  height: 200px; 
  position: absolute; 
  top: 15%;
  left: 60%;
}

#bio-image {
  width: 175px;
  height: 175px;  
  margin: 20px; 
  float: Left;
}
#box {
  position: absolute; 
  top: 15%;
  left: 60%;
}  
/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
